<script src="/javascripts/dessert_display.js"></script>

<div class="container-fluid home-content">  
  <div class="row home-content-row">
    <div id="desserts" class="col-md-12 home-content-block">
      <div class="content full-row">

        <div class="col-md-12" id="desserts-header">
          <h2> Desserts </h2>

          <form class="form-inline">
            <div class="form-group">
              <label for="dessert-type-select">Filter by type: </label>
              <select class="form-control" id="dessert-type-select">
                <option>All</option>
                <% @dessert_types.each do |type| %>
                  <option><%= type.name %></option>
                <% end %>
              </select>
            </div>
          </form>
        </div>

        <% @desserts.each do |dessert| %>
          <div class="col-md-12 accordion-toggle dessert-row"  data-toggle="collapse" data-target=<%= "#dessert-" + dessert.id.to_s %>>
            <div class="col-md-2"><h4> <%= dessert.name %> </h4></div>
            <div class="col-md-7"><%= dessert.description %></div>
            <div class="col-md-3"><%= dessert.price %></div>
            <div class="hidden-column"><%= dessert.dessert_types.map{|t| t.name}.join(",") %></div>
          </div>

          <div class="col-md-12 accordian-body collapse dessert-expanded-column" id=<%= "dessert-" + dessert.id.to_s %>>
            <div class="col-md-2">
            </div>

            <div class="col-md-5">
              <h5>Ingredients</h5>
              <%= dessert.ingredients %>
            </div>

            <div class="col-md-5">
              <%= image_tag(dessert.image.url(:medium), alt: "Missing Picture") %>
            </div>
          </div>

        <% end %>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="row home-content-row">
    <div id="order" class="col-md-12 home-content-block">
      <div class="content full-row">
        <h2> Order </h2>
        <p> Ability to submit orders coming soon!  For now, give us a call, or send us an email or Facebook message. </p>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="row home-content-row" id="footer">
    <div class="col-md-12 home-content-block">
      <p> Powered by Rails, Bootstrap and Digital Ocean.     Copyright &#169; 2016 Bandy's Bakery. 
      </p>
    </div>
  </div>
</div>