<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="hdHAFsAwv0nI-746KvPRwMWYwDuVd4-8EsfNE_UAceA" />
  
  <title>Bandys Bakery</title>
  <%= favicon_link_tag 'favicon.ico' %>

  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>

<%= yield %>

</body>
</html>
